.StatWindow {
    width: 300px;
    height: 500px;
    background-color: white;
    border: solid black;
    border-radius: 8px;
    z-index: 1000;
}

.handle {
    color: gold;
    text-align: center;
    background: black;
    font-size: 0.75rem;
}

.infoBox {
    padding: 5px;
}

.infoRow {
    padding: 2px 12px 0px 14px;
    padding-top: 2px;
    border-radius: 8px;
}

.fieldCol {
    width: 33%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-text-stroke: 0.75px black;
    font-weight: bold;
    color: white;
    background: linear-gradient(0deg, rgba(136,187,0,1) 12%, rgba(153,221,0,1) 35%, rgba(221,255,0,1) 89%);
    text-indent: 10px;
    border-left: solid grey;
    border-top: solid grey;
    border-bottom: solid grey;
    border-width: 1px 1px 1px 1px !important;
}

.valueCol {
    width: 66%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    text-indent: 10px;
    border: solid grey;
    border-width: 1px;
}