.StatWindow {
    width: 300px;
    height: 500px;
    background-color: white;
    border-radius: 8px;
    z-index: 1000;
}

.infoBox {
    padding: 5px;
}

.infoRow {
    padding-top: 2px;
    border-radius: 8px;
    width: 90%;
    align-content: center;
}

.fieldCol {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: limegreen;
    text-indent: 10px;
}