.window {
    width: 300px;
    height: 500px;
    background-color: white;
    border: solid black;
    border-radius: 8px;
    z-index: 1000;
}

.handle {
    color: gold;
    text-align: center;
    background: black;
    font-size: 0.75rem;
}